<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiddity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1CAC331DCB0A0A003AD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1CAC471DCB0A0B003AD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1CAC521DCB0A0B003AD0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
